* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(https://i.imgur.com/G9mpDrl.png);
    background-size: 240px 153px;
    background-position: repeat;
}

/*nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }*/

.logo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

.log1 {
    width: 15%;
}

.log2 {
    width: 15%;
}

.log3 {
    width: 15%;
}

.log4{
    width: 12%;
}

.logo_t {
    color: #000;
}

span {
    color: #8a9dff;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

    nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }

        nav ul li a:hover {
            color: #f9004d;
            transform: .4s;
        }

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transfor .4s;
}

    .btn:hover {
        transform: scale(1.2);
    }

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: black;
    margin: 20px 0px 20px;
    font-size: 450%;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #f9004d;
    letter-spacing: 2px;
    font-size: 20px;
}

.news form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

    .news form input:first-child {
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: 2px solid #f9004d;
        outline: none;
        border-radius: 30px;
    }

    .news form input:last-child {
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: #f9004d;
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px#858585;
        top: 6px;
        right: 6px;
    }

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

    .about img {
        height: auto;
        width: 300px;
    }

.about-text {
    width: 500px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

    button:hover {
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }

.servico {
    background: #101010;
    width: 100%;
    padding: 50px 0px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1100px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: 400px;
    min-height: 400px;
}

#card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
}

    #card i {
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 10px;
        color: #f9004d;
    }

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 25px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

    .button:hover {
        background-color: transparent;
        border: 2px solod #f9004d;
        cursor: pointer;
    }

.frase {
    width: 100%;
    height: 100%;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

    .frase p {
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 35px;
    }

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

    footer p:nth-child(1) {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
        justify-content: center;
        text-align: center;
    }

    footer p:nth-child(2) {
        color: white;
        font-size: 17px;
        text-align: center;
        line-height: 26px;
    }

.social {
    display: flex;
    justify-content: center;
}

    .social a {
        align-items: center;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        background: #f9004d;
        border-radius: 50%;
        margin: 22px 10px;
        color: white;
        text-decoration: white;
        text-decoration: none;
        font-size: 20px;
    }

        .social a:hover {
            transform: scale(1.3);
            transition: .3s;
        }

.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap");

.box {
    font-family: "Nunito", cursive;
    color: #efefef;
    text-align: center;
    padding: 2em 0;
    background-color: #212123;
}

.conteudo__geral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1e22;
}

img {
    display: block;
    max-width: 110%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-carrossel {
    --widthItem: 150px;
    --heightItem: 0px;
    width: var(--widthItem);
    height: var(--heightItem);
    perspective: 3000px;
}

.carrossel {
    --rotatey: 0;
    font-size: 4rem;
    position: center;
    transform: rotatey(var(--rotatey));
    transform-style: preserve-3d;
    user-select: none;
    cursor: grab;
}

.carrossel-item {
    opacity: 0.5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: opacity 0.5s;
}

    .carrossel-item:hover {
        opacity: 1;
    }

.carrossel,
.carrossel-item {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(-229deg, #642B73, #C6426E);*/
}

    .carrossel-item:nth-child(1) {
        --rotatey: 0;
        transform: rotatey(var(--rotatey)) translatez(var(--tz));
        background: linear-gradient(-229deg, #fbd52d, #ef3a7b);
    }

    .carrossel-item:nth-child(2) {
        --rotatey: 0;
        transform: rotatey(var(--rotatey)) translatez(var(--tz));
        background: linear-gradient(-229deg, #ff70af, #5fa8f5);
    }

    .carrossel-item:nth-child(3) {
        --rotatey: 0;
        transform: rotatey(var(--rotatey)) translatez(var(--tz));
        background: linear-gradient(-229deg, #0cebeb, #29ffc6);
    }

@media screen and (min-width: 576px) {
    .container-carrossel {
        --widthItem: 250px;
        --heightItem: 200px;
    }
}

.butao_principal {
    background-color: #889ad3;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
    .butao_principal:hover {
        background-color: transparent;
        border: 2px solid #889ad3;
        cursor: pointer;
    }